.servicios-quinta-seccion-banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.servicios-quinta-seccion-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.servicios-quinta-seccion-content-container {
    grid-template-rows: 40% 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: brown; */
}

.servicios-quinta-seccion-titles-container {
    justify-content: center;
    color: var(--blanco);
}

.servicios-quinta-seccion-title {
    padding-top: 4rem;
    font-size: 2.5rem;
}

.servicios-quinta-seccion-subtitle {
    font-size: 6rem;
    margin-bottom: 2rem;
}

.servicios-quinta-seccion-soluciones-container {
    height: 64%;
}

.quinta-seccion-solucion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blanco);
    width: 80%;
    margin: 0 auto;
}

.solucion-description {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.solucion-number {
    margin-top: 2rem;
    font-size: 2.5rem;
}

.onda-servicios {
    position: absolute;
    top: 2%;
    left: 76%;
    width: 40rem;
}

/* estilos para el tamaño de laptop */
@media screen and (max-width: 1500px) {
    .solucion-description {
        font-size: 2rem;
    }

    .onda-servicios {
        left: 75%;
        width: 32rem;
    }
}

/* estilos para el tamaño de movil */
@media screen and (max-width: 576px) {
    .onda-servicios{
        left: 16rem;
        top: -18rem;
        width: 25rem;
    }
    .servicios-quinta-seccion-banner {
        width: 410px;
        height: 1000px;
        background-color: #424245;
        bottom: 40px
    }
    .servicios-quinta-seccion-content-container {
        grid-template-rows: 5% 50%;
        top: 15rem;
    }
    .quinta-seccion-solucion-container {
        width: 85%;
        margin: 0 auto;
    }

    .servicios-quinta-seccion-title {
        font-size: 1.9rem;
    }
    .servicios-quinta-seccion-subtitle {
        font-size: 3rem;
        margin-bottom: 18rem;
    }


 
}


