.servicios-segunda-seccion {
    margin-top: -18%;
}

.servicios-segunda-seccion-banner-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.servicios-segunda-seccion-content-container {
    top: -27rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 220px;
    row-gap: 0;
    grid-template-rows: 36% 64%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.servicios-segunda-seccion-titles-container {
    justify-content: flex-end;
}

.servicios-segunda-seccion-opciones-container {
    gap: 4rem;
    width: 95%;
    margin-top: -278px;
}

.servicios-segunda-seccion-opcion-text-container {
    height: auto;
}

.servicios-segunda-seccion-title {
    font-size: 1.5rem;
    color: var(--blanco);
    margin-bottom: 0;
}

.servicios-segunda-seccion-subtitle {
    font-size: 2.5rem;
    margin-bottom: 34rem;
    margin-top: 30px;
}

.servicios-segunda-seccion-opcion-image {
    width: 10rem;
    margin: 0 auto;
    width: 13rem;
    margin-bottom: 2rem;
}

.segunda-seccion-opcion-title {
    text-align: center;
    font-size: 2.4rem;
    color: var(--blanco);
}

.segunda-seccion-opcion-description-container {
    /* height: 78%; */
    height: 13rem;
    display: flex;
    align-items: baseline;
}

.segunda-seccion-opcion-description {
    width: 100%;
    text-align: justify;
    font-stretch: condensed;
    font-size: 1.5rem;
    color: var(--blanco);
}

@media screen and (min-width: 1200px) {
    .servicios-segunda-seccion {
        margin-top: -10%;
    }

    .servicios-segunda-seccion-content-container{
        padding: 0;
        margin-top: 55rem;
    }

    .servicios-segunda-seccion-subtitle {
        margin-bottom: 30rem;
    }

    .servicios-segunda-seccion-opciones-container {
        /* margin-left: auto;
        margin-right: auto; */
        height: auto;
        width: 85%;
        margin: auto;
        margin-top: -220px;
    }
}

@media screen and (min-width: 1200px) {
    .segunda-seccion-opcion-description {
        font-size: 1.6rem;
    }

    .segunda-seccion-opcion-title {
        margin-top: 5rem;
    }

    .servicios-segunda-seccion-title {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1500px) {}

@media screen and (max-width: 576px) {
    .servicios-segunda-seccion-opciones-container {
        margin-left: auto;
        margin-right: auto;
        gap: 0;
    }

    .segunda-seccion-opcion-title-container {
        margin-top: 3%;
    }

    .servicios-segunda-seccion-title {
        font-size: 3.5vw;
    }

    .servicios-segunda-seccion-subtitle {
        font-size: 4.5vw;
    }

    .segunda-seccion-opcion-description {
        text-align: justify;
        font-size: 3.8vw;
    }

    .segunda-seccion-opcion-description-container {
        height: 13vh;
    }
}

@media screen and (max-width: 360px) {
    .servicios-segunda-seccion-content-container {
        margin-top: 250px;
    }
    
}
