.servicios-servicios-container {
    position: absolute;
    background-color: var(--azul-oscuro);
    width: 60%;
    top: 95%;
    left: 38.3rem;
    padding: 4rem;
    border-radius: 20px;
}

.servicios-opciones-container {
    height: 60rem;
    color: var(--blanco);
    margin-top: 4rem;
    overflow: scroll;
    overflow-x: hidden;
}

.servicios-opcion-container {
    margin-bottom: 1.5rem;
}

.servicios-rectangulo-container {
    width: 6rem;
    height: 2rem;
    background-color: var(--verde);
    margin-right: 1.5rem;
}

.servicios-title {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.servicios-opcion-text-container {
    margin-bottom: 1.6rem;
}

.servicios-opcion-text {
    font-size: 1.6rem;
    color: var(--blanco);
}

.servicios-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.servicios-button {
    background-color: var(--verde);
    color: var(--blanco);
}

/* estilos para el tamaño de laptop */
@media screen and (min-width: 1200px) {
    .servicios-quinta-seccion-content-container {
        left: 0;
        height: 80%;
    }

    .servicios-servicios-container {
        top: 125%;
        left: 31.3rem;
    }

    .servicios-title {
        font-size: 4.5rem;
    }

    .servicios-quinta-seccion-title {
        font-size: clamp(1rem, 2vw + 1rem, 1.7rem);
    }

    .servicios-quinta-seccion-subtitle {
        font-size: clamp(2rem, 2vw + 1rem, 5.5rem);
    }

    .solucion-description {
        font-size: clamp(1.3rem, 2vw + 1rem, 2rem);
        cursor: pointer;
        padding-bottom: 8%;
    }
}

/* estilos para el tamaño de movil */
@media screen and (max-width: 576px) {
    .servicios-servicios-container {
        position: relative;
        left: 1rem;
        width: 95%;
        top: 1rem;
        padding: 2rem;
        grid-template-rows: unset;
    }
    .servicios-opciones-container {
        height: 32rem;
    }
    .servicios-title {
        font-size: 2.3rem;
    }
    .servicios-opcion-text-container {
        width: 100%;
    }
    .servicios-opcion-container {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
    }
    .servicios-opcion-text-container {
        margin-bottom: 0;
    }    
}