.servicios-quinta-seccion {
    margin-top: -40px;
}

.servicios-quinta-seccion-banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.servicios-quinta-seccion-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.servicios-quinta-seccion-content-container {
    grid-template-rows: 25% 75%;
    position: absolute;
    top: 0;
    left: -20px;
    width: 100%;
}

.servicios-quinta-seccion-titles-container {
    justify-content: center;
    color: var(--blanco);
}

.servicios-quinta-seccion-title {
    padding-top: 4rem;
    font-size: 1.3rem;
}

.servicios-quinta-seccion-subtitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.servicios-quinta-seccion-soluciones-container {
    height: auto;
    margin-left: 2rem;
}

.quinta-seccion-solucion-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blanco);
    width: 80%;
    margin: 0 auto;
}

.solucion-description {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.solucion-number {
    margin-top: 2rem;
    font-size: 2.5rem;
}

@media screen and (min-width: 1400px) {
    .solucion-description {
        font-size: 2.5;
    }
}

@media screen and (min-width: 375px) {
    .servicios-quinta-seccion-content-container {
        grid-template-rows: unset;
        left: 0;
    }
}