.contact-segunda-seccion-banner-container {
    position: relative;
    margin-top: -8%;
    width: 100%;
    height: 100%;
}

.contact-segunda-seccion-content-container {
    /* background-color: blueviolet; */
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-segunda-seccion-container {
    width: 100%;
    height: 100%;
}

.contact-segunda-seccion-columns-container {
    width: 100%;
    height: 100%;
}

.contact-opciones-container {
    justify-content: flex-end;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.contact-opciones-contacto-container {
    width: 100%;
    height: 100%;
}

.herramienta-image,
.agenda-image,
.personas-blanco-image {
    width: 10rem;
    margin-left: 5%;
}

.opciones-titles-container {
    color: var(--blanco);
}

.opciones-title {
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

.opciones-subtitle {
    font-size: 2.5rem;
}

.herramienta-title,
.llamada-title,
.consultora-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.contacto-container {
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.ubicacion-icon,
.telefono-icon,
.correo-icon {
    width: 9rem;
    margin-right: 2rem;
}

.ubicacion-1-container,
.ubicacion-2-container,
.celular-container,
.correo-container {
    color: var(--blanco);
    width: 50%;
    margin: 0 auto;
    margin-top: 3.5rem;
}

.ubicacion-title,
.correo-title,
.telefono-title {
    color: var(--blanco);
    margin-bottom: 1.6rem;
    font-size: 2.5rem;
}

.ubicacion-address {
    font-size: 2rem;
}

.correos,
.telefonos {
    font-size: 2.5rem;
}

.correo {
    font-weight: 100;
    margin-bottom: 1rem;
}

/* estilos para el tamaño de laptop */
@media screen and (max-width: 1500px) {
    .contact-segunda-seccion-banner-container {
        margin-top: -9%;
        height: 106%;
    }
    .ubicacion-icon,
    .telefono-icon,
    .correo-icon {
        width: 7rem;
    }

    .correos, .telefonos {
        font-size: 2rem;
    }

    /* .contact-segunda-seccion-container {
        display: flex;
        align-items: flex-end;
    } */

    .contact-segunda-seccion-columns {
        height: calc(100% - 20%);
    }
}

/* estilos para el tamaño de celular */
@media screen and (max-width: 576px) {
    .contacto-container {
        justify-content: center;
    }
    
    .contact-segunda-seccion-banner-container {
        margin-top: -17%;
        height: unset;
    }

    .contact-segunda-seccion-columns-container {
        row-gap: 0;
    }

    .contact-opciones-container {
        width: 100%;
    }

    .opciones-title {
        text-align: center;
        margin-top: 1.5rem;
        font-size: 2.5rem;
    }

    .opciones-subtitle {
        font-size: 1.6rem;
        text-align: center;
    }

    .herramienta-container,
    .llamada-container,
    .consultora-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .herramienta-image,
    .agenda-image,
    .personas-blanco-image {
        width: 7rem;
        margin-left: 0;
    }

    .herramienta-title {
        text-align: center;
    }

    .ubicacion-1-container,
    .ubicacion-2-container,
    .celular-container,
    .correo-container {
        flex-direction: column;
        margin-top: 2rem;
        width: 100%;
    }

    .ubicacion-icon-container,
    .celular-icon-container,
    .correo-icon-container {
        display: flex;
        justify-content: center;
    }

    .ubicacion-text-container {
        display: block;
    }

    .ubicacion-title,
    .telefono-title,
    .correo-title {
        text-align: center;
        margin-bottom: 1rem;
    }

    .ubicacion-address,
    .telefonos,
    .correos {
        width: 95%;
        text-align: center;
        margin: 0 auto;
    }
}