.contact-primera-seccion-banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.contact-primera-seccion-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-primera-seccion-content-container {
    position: absolute;
    /* background-color: blueviolet; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.primeros-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-primera-seccion-title {
    margin-bottom: 7rem;
}

.contact-primera-seccion-description,
.contact-primera-seccion-ultimo-texto {
    color: var(--blanco);
    width: 80%;
    margin: 0 auto;
}

.contact-primera-seccion-description {
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.contact-primera-seccion-ultimo-texto {
    font-size: 3rem;
}

/* estilos para el tamaño de laptop */
@media screen and (max-width: 1500px) {
}