.contact-segunda-seccion-banner-container {
    position: relative;
    margin-top: -8%;
    width: 100%;
    height: 100%;
}

.contact-segunda-seccion-content-container {
    /* background-color: blueviolet; */
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-segunda-seccion-container {
    width: 100%;
    height: 100%;
}

.contact-segunda-seccion-columns-container {
    width: 100%;
    height: 100%;
}

.contact-opciones-container {
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.contact-opciones-contacto-container {
    width: 100%;
    height: 100%;
}

.herramienta-image,
.agenda-image,
.personas-blanco-image {
    width: 10rem;
    margin-left: 5%;
}

.opciones-titles-container {
    color: var(--blanco);
}

.opciones-title {
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

.opciones-subtitle {
    font-size: 2.5rem;
}

.herramienta-title,
.llamada-title,
.consultora-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.contacto-container {
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ubicacion-icon,
.telefono-icon,
.correo-icon {
    width: 9rem;
    margin-right: 2rem;
}

.ubicacion-1-container,
.ubicacion-2-container,
.celular-container,
.correo-container {
    color: var(--blanco);
    width: 50%;
    margin: 0 auto;
    margin-top: 3.5rem;
}

.ubicacion-title,
.correo-title,
.telefono-title {
    color: var(--blanco);
    margin-bottom: 1.6rem;
    font-size: 2.5rem;
}

.ubicacion-address {
    font-size: 2rem;
}

.correos,
.telefonos {
    font-size: 2.5rem;
}

.correo {
    font-weight: 100;
    margin-bottom: 1rem;
}

/* estilos para el tamaño de laptop */
@media screen and (max-width: 1500px) {
    .contact-segunda-seccion-banner-container {
        margin-top: -9%;
        height: 106%;
    }
    .ubicacion-icon,
    .telefono-icon,
    .correo-icon {
        width: 7rem;
    }

    .correos, .telefonos {
        font-size: 2rem;
    }
}