.contact-tercera-seccion-container {
    background-image: url("../../assets/images/fondoOndaBlamco.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80rem;
    margin-bottom: 3rem;
}

.tormenta-image-container {
    width: 100%;
    height: 100%;
}

.tormenta-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-item {
    transition: opacity 1.5s;
    position: absolute;
    top: 0;
    left: 0;
}

.image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo-slider{
    width: 70%;
    font-size: 4.4rem;
    margin-bottom: 0;
    color: var(--blanco);
    -webkit-text-stroke: 2px var(--negro);
    margin-top: 2rem;
}

.autor-slider {
    color: var(--blanco);
    font-size: 2.2rem;
    margin-left: 2rem;
}

.text-link {
    transition: color 1s;
    color: var(--blanco);
}

.slider-comilla-container {
    width: 100%;
}

.comilla-abajo-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    transform: rotate(186deg);
}

.slider-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 2%;
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */
}

.slider-comilla-arriba,
.slider-comillas-abajo {
    width: 5rem;
}

.slider-item[data-show = "0"] {
    opacity: 0;
}

.slider-item[data-show = "1"] {
    opacity: 1;
}

/* estilos para el tamaño de laptop */
@media screen and (max-width: 1500px) {

    .contact-tercera-seccion-container {
        height: 50rem;
    }
}

/* estilos para el tamaño de celular */
@media screen and (max-width: 576px) {
    .titulo-slider {
        margin: 0 auto;
        width: 95%;
        font-size: 2rem;
        -webkit-text-stroke: unset;
        text-align: center;
    }

    .autor-slider {
        font-size: 2.2rem;
        margin-left: 0;
    } 

    .comilla-abajo-container {
        justify-content: flex-start;
    }

    .slider-comilla-container {
        width: 95%;
    }

    .slider-comilla-arriba, 
    .slider-comillas-abajo {
        width: 4rem;
    }

}