.nosotros-banner-container {
    position: relative;
    background-color: aquamarine;
    /* nuevos cambios */
    top: 1rem;
}

.nosotros-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nosotros-banner-text-container {
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.nosotros-banner-title {
    /* margin-bottom: 6.7rem; */
    /* nuevos cambios */
    margin-bottom: 5rem;    
}

.nosotros-banner-subtitle {
    color: var(--blanco);
    font-size: 3.5rem;
}

/* estilos para el tamaño de laptop */
@media screen and (max-width: 1500px) {
    .nosotros-banner-subtitle {
        font-size: 2.3rem;
    /* //nuevo cambios */
        text-align: justify;
        word-spacing: 1rem;
        letter-spacing: 1px;
        width: 50%;
        margin: 0 auto;
    }
}

/* estilos para el tamaño de celular */
@media screen and (max-width: 576px) {
    .nosotros-banner-title {
        margin-bottom: 2rem;
        font-size: 5rem;
        
    }

    .nosotros-banner-subtitle {
        /* font-size: 1.6rem; */
        /* nuevos cambios */
        font-size: 1.4rem;
        padding-left: 20px;
        width: 100%;
        word-spacing: 1px;
        letter-spacing: 1px;
        padding-right: 20px;
    
    }
}