.nosotros-septima-seccion {
    position: relative;
    grid-template-rows: 30% 70%;
    height: 75.8rem;
    background-color: aquamarine;
}

.nosotros-septima-seccion-title {
    margin-top: 2.5rem;
    color: var(--morado);
    font-size: 4.5rem;
}

.nosotros-septima-seccion-subtitle {
    width: 97%;
    margin: 0 auto;
    font-size: 3.6rem;
    margin-bottom: 6.5rem;
}

.nosotros-slider-contenedor {
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 80%;
    background-color:#BCD1DD;
    align-self: flex-start;
    overflow: hidden;
}

.nosotros-slider {
    width: 100%;
    height: 100%;
    display: flex;
    transform: translateX(var(--slide-transform));
    transition: var(--transition);
  }

  .slider__element {
    column-gap: 0;
    min-width: 100%;
    height: 100%;
    font-size: 3rem;
    text-align: center;
    grid-template-columns: 70% 30%;
  }

  .button-left {
    position: absolute;
    top: 60%;
    left: 15%;
  }

  .button-right {
    position: absolute;
    top: 60%;
    right: 15%;
  }

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-foto-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.team-member-description {
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
}

.team-name {
  margin-top: 2rem;
  font-size: 2rem;
}

.team-member-icons-container {
  background-color: yellowgreen;
  justify-content: center;
  margin-top: 1rem;
}

.team-card-icon {
  transition: transform 1s;
  width: 4.2rem;
  margin-right: 3rem;
}

.nosotros-onda-image {
  position: absolute;
  top: 80%;
  width: 40rem;
}

.team-card-icon:hover {
  transform: scale(1.2);
}

.persona-1 {
    background-image: url('../../assets/images/Bian-fff.webp');
}

.persona-2 {
    background-image: url('../../assets/images/carlos.webp');
}

.persona-3 {
    background-image: url('../../assets/images/Adri-final.webp');
}

.flecha-azul {
  width: 7rem;
  cursor: pointer;
}

/* estilos para el tamaño de laptop */
@media screen and (max-width: 1500px) {
    .nosotros-septima-seccion {
        background-position-y: 100px;
    }

    .nosotros-septima-seccion-subtitle {
        font-size: 2.2rem;
    }

    .team-onda-image {
        top: 0;
        left: 53%;
        width: 20rem;
    }

    .team-name {
        margin-top: 1rem;
        font-size: 1.6rem;
    }

    .team-card-icon {
        width: 4.2rem;
    }
}

/* estilos para el tamaño de celular */
@media screen and (max-width: 576px)  {
    .nosotros-septima-seccion-title {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .nosotros-septima-seccion-subtitle {
        font-size: 1.6rem;
        margin-bottom: unset;
    }

      .nosotros-septima-seccion {
          row-gap: 0;
      }
  
      .nosotros-slider-contenedor {
          width: 90%;
          height: 84%
      }
  
      .nosotros-septima-seccion-titles-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
  
      .slider__element {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 60% 1fr;
      }

      .team-foto-container {
        grid-column-start: 2;
        background-position: center;
      }
  }