.home-cuarta-seccion-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.cuarta-seccion-banner-image {
    width: 100%;
    height: 100%;
}

.cuarta-seccion-content-container {
    position: absolute;
    row-gap: 0;
    width: 100%;
    height: 100%;
}



.cuarta-seccion-titles-container {
    /* background-color: tomato; */
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.cuarta-seccion-titles {
    height: 50%;
    justify-content: center;
}

.cuarta-seccion-title {
    margin-top: 7.9rem;
}

.cuarta-seccion-subtitle {
    font-size: 3.3rem;
    color: var(--blanco);
    margin-bottom: 8.2rem;
}

.segunda-mitad {
    /* background-color: yellowgreen; */
    width: 100%;
    height: 100%;
}

.cuarta-seccion-objetivos {
    width: 100%;
    height: 90%;
    width: 95%;
    margin: 0 auto;
}

.cuarta-seccion-onda {
    height: 100%;
    align-items: center;
}

.objetivo {
    width: 100%;
    height: 100%;
    /* background-color: brown; */
    color: var(--blanco);
    align-items: center;
}

.objetivo-icon {
    width: 6rem;
}

.cuarta-seccion-onda {
    align-items: flex-start;
}

.OndSeparador {
    width: 100%;
    height: auto;
}

.objetivo-text-container {
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
    transition: all 1s;
}

.objetivo-text-container:hover {
    transform: scale(1.1);
}

.objetivo-title {
    margin-top: 1.5rem;
    font-size: 3rem;
}

.objetivo-description-container {
    /* background-color: yellowgreen; */
    align-items: center;
    width: 100%;
    height: 75%;
}

.objetivo-description {
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
}


/* estilos para el tamaño de laptop */
@media screen and (max-width: 1500px) {
    .cuarta-seccion-titles {
        height: 65%;
        height: 50%;
        justify-content: center;
    }

    .cuarta-seccion-title {
        font-size: 6rem;
    }

    .cuarta-seccion-subtitle {
        font-size: 2.5rem;
    }

    .objetivo-description {
        font-size: 1.9rem;
        line-height: unset;
    }
}

/* estilos para el tamaño de celular */
@media screen and (max-width: 576px) {
    .cuarta-seccion-title {
        font-size: 2.3rem;
        margin-top: 12.9rem;
    }
    .cuarta-seccion-subtitle {
        font-size: 1.8rem;
    }
}