.home-cuarta-seccion-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.cuarta-seccion-banner-image {
    width: 100%;
    height: 100%;
}

.cuarta-seccion-content-container {
    position: absolute;
    row-gap: 0;
    width: 100%;
    height: 100%;
}



.cuarta-seccion-titles-container {
    /* background-color: tomato; */
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.cuarta-seccion-titles {
    height: 50%;
    justify-content: center;
}

.cuarta-seccion-title {
    font-size: 2rem;
    margin-top: 7.9rem;
}

.cuarta-seccion-subtitle {
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    color: var(--blanco);
    margin-bottom: 3.2rem;
}

.segunda-mitad {
    /* background-color: yellowgreen; */
    width: 100%;
    height: 100%;
}

.cuarta-seccion-objetivos {
    width: 100%;
    height: 90%;
    width: 95%;
    margin: 0 auto;
}

.cuarta-seccion-onda {
    height: 100%;
    align-items: center;
}

.objetivo {
    width: 100%;
    height: 100%;
    /* background-color: brown; */
    color: var(--blanco);
    align-items: center;
}

.objetivo-icon {
    width: 6rem;
}

.cuarta-seccion-onda {
    align-items: flex-start;
}

.OndSeparador {
    width: 90%;
    margin: 0 auto;
    height: auto;
}

.objetivo-text-container {
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
    transition: all 1s;
}

.objetivo-text-container:hover {
    transform: scale(1.1);
}

.objetivo-title {
    margin-top: 1.5rem;
    font-size: 3rem;
}

.objetivo-description-container {
    /* background-color: yellowgreen; */
    align-items: center;
    width: 100%;
    height: 75%;
}

.objetivo-description {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
}

@media screen and (max-width: 1200px) {
    .cuarta-seccion-title {
        font-size: 2.3rem;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 769px) {
    .cuarta-seccion-primera-fila {
        width: 100%;
        height: calc(100% - 30%);
        /* background-color: cadetblue; */
        opacity: 0.6;
        align-self: flex-end;
        justify-content: center;
    }
    .cuarta-seccion-content-container {
        grid-template-rows: 45% 55%;
    }

    .objetivo-mision {
        height: 100%;
        width: 100%;
        /* background-color: cadetblue; */
    }

    .objetivo-vision {
        width: 100%;
        height: 100%;
        /* background-color: crimson; */
    }

    .objetivo-valores {
        width: 100%;
        height: 100%;
        /* background-color: violet; */
    }

    .cuarta-seccion-objetivos {
        grid-template-columns: 18% 15% 30% 15% 19%;
        /* background-color: yellow; */
        align-content: center;
        height: 100%;
        column-gap: 0;
    }

    .cuarta-seccion-title {
        margin-top: 0;
        font-size: clamp(1.3rem, 2vw + 1rem, 5rem);
        margin-bottom: 3%;
    }

    .cuarta-seccion-subtitle {
        font-size: clamp(1.3rem, 2vw + 1rem, 2.5rem);
        margin-bottom: 3%;
        text-align: justify;
        width: unset;
    }

    .segunda-mitad {
        width: 100%;
        height: calc(100% - 8%);
        /* background-color: violet; */
        opacity: 0.6;
    }

    .objetivo-title {
        font-size:clamp(1.3rem, 2vw + 1rem, 2rem);
        padding: 5% 0;
    }

    .objetivo-description {
        width: unset;
        margin: unset;
        text-align: justify;
        font-size:clamp(1rem, 2vw + 1rem, 1.8rem);;
    }

    .mision-description {
        font-size: clamp(1rem, 2vw + 1rem, 1.8rem);
    }
}

/* @media screen and (min-width: 1400px) {
    .cuarta-seccion-title {
        margin-top: 0;
        font-size: 7rem;
    }

    .objetivo-description {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1500px) {
    .objetivo-description {
        font-size: 2.3rem;
    }
} */