.home-quinta-seccion-container {
    background-image: url('../../assets/images/Menu-inicio-degadrado.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-quinta-seccion-content-container {
    column-gap: 0;
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
}

.quinta-seccion-image-container {
    width: 100%;
    height: 100%;
}

.quinta-seccion-image {
    width: 100%;
    height: auto;
}

.quinta-seccion-servicios-container {
    row-gap: 1rem;
    height: calc(100% - 7rem);;
}

.quinta-seccion-content-container {
    /* background-color: yellowgreen; */
    width: 100%;
    margin: 0 auto;
}

.quinta-seccion-title {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    /* padding: 2rem; */
}

.quinta-seccion-servicio-description {
    display: flex;
    align-items: center;
    color: var(--blanco);
    font-size: 2rem;
}

.quinta-seccion-servicio-icon {
    width: 7rem;
    margin-right: 2rem;
}

.quinta-seccion-button {
    transition: transform 1s;
}

.quinta-seccion-button:hover {
    transform: scale(1.1);
}

.quinta-seccion-content-buttons-container {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}


/* estilos para el tamaño de laptop */
@media screen and (min-width: 1200px) {
    .home-quinta-seccion-container {
        margin-top: -3%;
    }
    .quinta-seccion-image-container {
        padding: 9% 5%;
    }

    .quinta-seccion-servicios-container {
        row-gap: 2rem;
    }

    .quinta-seccion-content-container {
        width: 98%;
        margin: 0 auto;
        padding: 9% 5%;
    }

    .quinta-seccion-servicio-description  {
        font-size: clamp(1rem, 2vw + 1rem, 1.3rem);
    }

    .quinta-seccion-title {
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    
    .quinta-seccion-servicios-container {
        row-gap: 2rem;
    }

    .quinta-seccion-servicio-icon {
        width: 6rem;
    }
}

/* estilos para el tamaño de celular */
@media screen and (max-width: 576px) {
    .home-quinta-seccion-container {
        background-image: url('../../assets/images/menu-inicio-movil.webp');
    }

    .quinta-seccion-content-container {
        padding-bottom: 4rem;
    }

    .quinta-seccion-title {
        font-size: 2rem;
        text-align: center;
    }

    .quinta-seccion-servicios-container {
        row-gap: 3rem;
    }

    .quinta-seccion-servicio {
        flex-direction: column;
        align-items: center;
    }

    .quinta-seccion-servicio-description {
        width: 90%;
        margin: 0 auto;
        text-align: justify;
    }

    .oculto {
        display: none;
    }
}