.maps_and_icons_container {
    display: grid;
    grid-template-columns: 90% 10%;
    width: 100%;
}

.mapa-container{
    width: 100%;
    height: 100%;
}

.map_frame_container {
    width: 100%;
    height: 100%;
}

.maps-icon-container {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.maps-icon {
    transition: transform 1s;
    width: 7rem;
}

.maps-icon:hover {
    transform: scale(1.2);
}

.seccion-mapa-container {
    row-gap: 0;
}

.mapa-seccion {
    font-size: 4rem;
}

.mapa-seccion-subtitles {
    font-size: 2.2rem;
}

.maps_and_icons_container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 18% 82%;
    height: 58rem;
}

.maps-icon-container {
    position: relative;
    grid-row-start: 1;
    flex-direction: row;
}

.maps-icon {
    width: 6rem;
}

.maps-link {
    height: 100%;
}

.map-whatts-link,
.map-twiter-link,
.map-telefono-link {
    display: flex;
}

@media screen and (min-width: 1200px) {
    .mapa-seccion {
        font-size: 6rem;
    }

    .mapa-seccion-subtitles {
        font-size: 3rem;
    }

    .maps_and_icons_container {
        grid-template-columns: 90% 10%;
    }

    .mapa-container {
        grid-row-end: 3;
        grid-row-start: 1;
    }

    .maps-icon-container {
        grid-row-start: 1;
        grid-row-end: 3;
        flex-direction: column;
    }

    .map-whatts-link,
    .map-twiter-link,
    .map-telefono-link {
        display: block;
    }
}