.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    position: fixed;
    flex-wrap: wrap;
    z-index: 2;
    top: -100%;
    left: 5%;
    width: 90%;
    height: 80vh;
    max-height: 600px;
    background: var(--fondo-degradado-modal);
    border-radius: 20px;
    opacity: 0.95;
}
.modal-show {
    top: 16%;
}

/* Modal inicio  */
.content-modal-inicio{
    width: 100%;
    text-align: center;
    color: white;
}
.modal-pregunta-inicio{
    font-size: calc(2em + 1vw);;
    color: white;
    text-align: center;
    margin-bottom: 23px;
    margin-top: 38px;    
}
.modal-sub-pregunta {
    font-size: calc(1.8em + 1vw);
    padding: 10px;
    margin-bottom: 46px;
}
.modal-subtitle-pregunta{
    font-size: calc(1.5em + 1vw);
}
.persona{
    width: 8%;
    margin-left: 40px;
}

/* //Segundo modal */
.content-modal{
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.modal-pregunta {
    font-size: 3rem;
    color: white;
    text-align: center;
    width: 82%;
    margin-block: auto;
    /* margin-left: 50px; */
}
.modal-links-container {
    display: flex;   
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 82%;
    margin: auto;
}
.modal-link-2{
    border-radius: 0 50% 0 50%;    
    border: 4px dashed var(--verde);
    width: 23%;
    text-align: center;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 10rem;
    padding: 2rem;
    transition: transform 1s;
} 
.modal-link-2:hover {
    transform: scale(1.2); 
}
@media screen and (max-width: 576px){
    .modal-pregunta{
        width: 100%;
        padding-left: 10px;
        font-size: 2rem;
        padding-right: 10px;
    }
    .modal-link-2{
        width: 60%;
        margin: auto;
        font-size: 1.3rem;
        margin-top: 3rem;
    }
    .persona{
        width: 18%;
        margin: auto;
        margin-bottom: 10px;
    }
}


/* Tercer modal */
.content-modal-3{
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.modal-pregunta-3{
    font-size: 3rem;
    color: white;
    text-align: center;
    width: 82%;
    margin-block: auto;
}
.modal-link-3{
    border-radius: 0 50% 0 50%;    
    border: 4px dashed var(--verde);
    width: 23%;
    text-align: center;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 10rem;
    padding: 2rem;
    transition: transform 1s;
} 

.img-content {
    /* width: 50%;
    margin: auto; */
    width: 100%;
    /* margin: 0 auto; */
}
.person{
    /* width: 20%;
    cursor: pointer;
    max-width: 80px;
    margin-left: 47%;
    margin-top: 6rem;
    height: auto;
    transition: width 2s, transform 1s; */

    width: 20%;
    cursor: pointer;
    max-width: 71px;
    margin-left: 48%;
    margin-top: 0;
    height: auto;
    transition: width 2s, transform 1s;
}
.person:hover{
    transform : scale(1.3);
}
/* //animacion de personaje */
.modal-show .person{
    animation: scale 1s 1.5s backwards;
}

@keyframes scale{
    0%{
        transform: scale(0);
    }
}
/* --------------------------------- */



.modal-links-container-modal3{
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: 1fr; */
    /* justify-items: center; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
    gap: 30px;
    margin: auto;
    margin-top: 40px;
}
.modal-links-container-icons{
    /* display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center; */

        /* display: grid; */
        gap: 10px;
        /* grid-template-columns: repeat(4, 1fr); */
        /* grid-template-rows: repeat(2, 1fr); */
        /* justify-items: center; */
        /* align-items: center; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        margin: auto;
        height: 230px;
}

.modal-links-container-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}
.modal-link {
    border-radius: 0 50% 0 50%;    
    border: 4px dashed var(--verde);
    /* clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 91%, 62% 93%, 30% 88%, 0 93%, 0% 20%); */
    margin: 0 auto;
    width: 34%;
    /* background-color: aqua; */
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 3rem;
    /* margin-top: 3rem; */
    transition: width 2s, transform 1s;
}
.tele{
    width: 140px;
}
.radio{
    width: 158px;
}
.inter{
    width: 140px;
}
.fon{
    width: 140px;
}
.svg-modal4{
    background-color: blueviolet;
}
.ift{
    padding: 2.5rem;
    width: 185px;
}
.profeco{
    padding: 2rem;
    width: 275px;
}
.segob{
    padding: 2rem;
    width: 275px;
}
.ine{
    padding: 3rem;
    width: 270px
}
.modal-link:hover{
    border: 5px dashed white;
    color: var(--verde);
    transform : scale(1.2);
}

.input-link{
    background-color: #66597B;
    width: 50%;
    height: 44px;
    border-radius: 31px;
    color: white;
    border: none;
    font-size: 25px;
    padding-left: 10px;
}
::placeholder { color: white; }

.img-modal{
    /* color: white;
    width: 16%;
    text-align: center;
    margin: 0 auto; */

    color: white;
    width: 16%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

/* cerrar modal */
.w3-closebtn{
    font-size: 5rem;
    cursor: pointer;
    align-self: end;
    margin-bottom: 40px;
    margin-right: 10px;
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
}

.modal-pregunta-calendar{
    font-size: 10rem;
    margin: 0 auto;
    cursor: pointer;
}
.event-pregunta{
    font-size: 3rem;
    text-align: center;
}
.content-modal-event{
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    flex-wrap: wrap;
}
.formulario {
    margin-top: 109px;
}
.modal-links-event{
    margin-top: 57px;
}
.form-input{
    margin-top: 34px;
}
.person-fin{
    width: 50%;
    cursor: pointer;
    margin-left: 30%;
    height: auto;
    transition: width 2s, transform 1s;
}
.person-fin:hover{
    transform : scale(1.3);
}
/* //animacion de personaje */
.modal-show .person-fin{
    animation: scale 1s 1.5s backwards;
}

@keyframes scale{
    0%{
        transform: scale(0);
    }
}


/* boton regreso */
.btn-regreso{
    font-size: 3rem;
    margin-left: 10px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}