/* .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    position: fixed;
    z-index: 2;
    top: -50%;
    left: 30%;
    height: 50%;
    width: 50%;
    background-color: var(--morado);
    border-radius: 10px;
    opacity: 0.9;
} */

.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    position: fixed;
    flex-wrap: wrap;
    z-index: 2;
    top: -100%;
    left: 5%;
    width: 90%;
    height: 80%;
    max-height: 600px;
    background-color: #4C3D65;
    border-radius: 20px;
    opacity: 0.9;
}

.modal-show {
    /* top: 30%; */
    /* nuevos cambios */
    top: 16%;
}

.content-modal-inicio{
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
}
.modal-pregunta-inicio{
    font-size: 4rem;
    color: white;
    text-align: center;
    margin-bottom: 23px;
    margin-top: 38px;
}
.content-modal{
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    flex-wrap: wrap;
}
.persona{
    width: 90px;
    margin-left: 40px;
}
.modal-pregunta {
    font-size: 3.5rem;
    color: white;
    text-align: center;
    width: 800px;
    margin: auto;
    margin-left: 50px;
}
.modal-sub-pregunta {
    font-size: 3.5rem;
}
.modal-subtitle-pregunta{
    font-size: 3rem;
}
.img-content {
    width: 50%;
    margin: auto;
}
.person{
    width: 20%;
    cursor: pointer;
    max-width: 80px;
    margin-left: 47%;
    margin-top: 6rem;
    height: auto;
    transition: width 2s, transform 1s;
}
.person:hover{
    transform : scale(1.3);
}
/* //animacion de personaje */
.modal-show .person{
    animation: scale 1s 1.5s backwards;
}

@keyframes scale{
    0%{
        transform: scale(0);
    }
}
/* --------------------------------- */

.modal-links-container {
    display: flex;
    gap: 30px;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: 1fr; */
    /* justify-items: center; */
    align-items: center;
    justify-content: center;
    margin-top: 84px;
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.modal-links-container-modal3{
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: 1fr; */
    /* justify-items: center; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
    gap: 30px;
    margin: auto;
    margin-top: 40px;
}
.modal-links-container-icons{
    /* display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center; */

        /* display: grid; */
        gap: 10px;
        /* grid-template-columns: repeat(4, 1fr); */
        /* grid-template-rows: repeat(2, 1fr); */
        /* justify-items: center; */
        /* align-items: center; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        margin: auto;
        height: 230px;
}
.div1{
    grid-area: 2 / 1 / 3 / 5;
}
.modal-links-container-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}
.modal-link {
    border-radius: 0 50% 0 50%;    
    border: 4px dashed var(--verde);
    /* clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 91%, 62% 93%, 30% 88%, 0 93%, 0% 20%); */
    margin: 0 auto;
    width: 34%;
    /* background-color: aqua; */
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 3rem;
    /* margin-top: 3rem; */
    transition: width 2s, transform 1s;
}
.tele{
    width: 140px;
}
.radio{
    width: 158px;
}
.inter{
    width: 140px;
}
.fon{
    width: 140px;
}

/* .consultora{
    width: 220px;
} */
.svg-modal4{
    background-color: blueviolet;
}
.ift{
    padding: 2.5rem;
    width: 185px;
}
.profeco{
    padding: 2rem;
    width: 275px;
}
.segob{
    padding: 2rem;
    width: 275px;
}
.ine{
    padding: 3rem;
    width: 270px
}
.modal-link:hover{
    border: 5px dashed white;
    color: var(--verde);
    transform : scale(1.2);
}

.input-link{
    background-color: #66597B;
    width: 50%;
    height: 44px;
    border-radius: 31px;
    color: white;
    border: none;
    font-size: 25px;
    padding-left: 10px;
}
::placeholder { color: white; }

.img-modal{
    /* color: white;
    width: 16%;
    text-align: center;
    margin: 0 auto; */

    color: white;
    width: 16%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

/* cerrar modal */
.w3-closebtn{
    font-size: 5rem;
    cursor: pointer;
    align-self: end;
    margin-bottom: 40px;
    margin-right: 10px;
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
}

.modal-pregunta-calendar{
    font-size: 10rem;
    margin: 0 auto;
    cursor: pointer;
}